<div class="about-bg p-5 ">
<div class="container p-5">
    <div class="text-white p-5">
        <h1 class="text-uppercase text-center fs-1">about component</h1>
        <div class="d-flex justify-content-center align-items-center pb-3 pt-2">
            <div class="design me-3"></div>
            <i class="fa-solid fa-star"></i>
            <div class="design ms-3"></div>
            </div>
            <div class="d-flex">
                <p class="pe-3">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                <p class="">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
    </div>
</div>
</div>
