<div>
    <div class="container">
        <div class="bg-blue">
            <h1 class="text-center text-uppercase fw-bolder pt-5">conatct section</h1>
                <div class="d-flex justify-content-center align-items-center pt-2">
                    <div class="design me-3"></div>
                    <i class="fa-solid fa-star"></i>
                    <div class="design ms-3"></div>
                    </div>
        </div>
       <form>
        <div class="d-flex flex-column justify-content-center align-items-center mt-5 pt-5">
            <input type="text" placeholder="userName" class="style-input mb-5 w-50 py-2 ">
            <input type="text" placeholder="userAge" class="style-input mb-5 w-50 py-2">
            <input type="text" placeholder="userEmail" class="style-input mb-5 w-50 py-2">
            <input type="text" placeholder="userPassword" class="style-input mb-5 w-50 py-2">
            <div>
                <button class="b-col text-white border rounded-2 p-2 d-block mb-4">send Message</button>
            </div>
            
        </div>
        
       </form>
        
            
        
        
    </div>
</div>